/*!
 * Mobirise v4 theme (https://mobirise.com/)
 * Copyright 2017 Mobirise
 */

section {
    background-color: #eeeeee;
}

section,
.container,
.container-fluid {
    position: relative;
    word-wrap: break-word;
}

a.mbr-iconfont:hover {
    text-decoration: none;
}

.article .lead p,
.article .lead ul,
.article .lead ol,
.article .lead pre,
.article .lead blockquote {
    margin-bottom: 0;
}

a {
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}

a,
a:hover {
    text-decoration: none;
}

figure {
    margin-bottom: 0;
}

body {
    color: #232323;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4 {
    line-height: 1;
    word-break: break-word;
    word-wrap: break-word;
}

b,
strong {
    font-weight: bold;
}

blockquote {
    padding: 10px 0 10px 20px;
    position: relative;
    border-left: 2px solid;
    border-color: #ff3366;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition-delay: 9999s;
    transition-property: background-color, color;
}

textarea[type="hidden"] {
    display: none;
}

body {
    position: relative;
}

section {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

section .mbr-background-video,
section .mbr-background-video-preview {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.hidden {
    visibility: hidden;
}

.mbr-z-index20 {
    z-index: 20;
}

/*! Base colors */

.mbr-white {
    color: #ffffff;
}

.mbr-black {
    color: #000000;
}

.mbr-bg-white {
    background-color: #ffffff;
}

.mbr-bg-black {
    background-color: #000000;
}

/*! Text-aligns */

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

@media (max-width: 767px) {
    .align-left,
    .align-center,
    .align-right,
    .mbr-section-btn,
    .mbr-section-title {
        text-align: center;
    }
}

/*! Font-weight  */

.mbr-light {
    font-weight: 300;
}

.mbr-regular {
    font-weight: 400;
}

.mbr-semibold {
    font-weight: 500;
}

.mbr-bold {
    font-weight: 700;
}

/*! Media  */

.media-size-item {
    -webkit-flex: 1 1 auto;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    -o-flex: 1 1 auto;
    flex: 1 1 auto;
}

.media-content {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
}

.media-container-row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: start;
    -ms-flex-align: start;
    align-items: start;
}

.media-container-row .media-size-item {
    width: 400px;
}

.media-container-column {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.media-container-column>* {
    width: 100%;
}

@media (min-width: 992px) {
    .media-container-row {
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}

figure {
    overflow: hidden;
}

figure[mbr-media-size] {
    transition: width 0.1s;
}

.mbr-figure img,
.mbr-figure iframe {
    display: block;
    width: 60%;
}

.card {
    background-color: transparent;
    border: none;
}

.card-img {
    text-align: center;
    flex-shrink: 0;
}

.media {
    max-width: 100%;
    margin: 0 auto;
}

.mbr-figure {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    -webkit-align-self: center;
    align-self: center;
}

.media-container>div {
    max-width: 100%;
}

.mbr-figure img,
.card-img img {
    width: 100%;
}

@media (max-width: 991px) {
    .media-size-item {
        width: auto !important;
    }
    .media {
        width: auto;
    }
    .mbr-figure {
        width: 100% !important;
    }
}

/*! Buttons */

.mbr-section-btn {
    margin-left: -.25rem;
    margin-right: -.25rem;
    font-size: 0;
    padding-top: 15px;
}

nav .mbr-section-btn {
    margin-left: 0rem;
    margin-right: 0rem;
}

/*! Btn icon margin */

.btn .mbr-iconfont,
.btn.btn-sm .mbr-iconfont {
    cursor: pointer;
    margin-right: 0.5rem;
}

.btn.btn-md .mbr-iconfont,
.btn.btn-md .mbr-iconfont {
    margin-right: 0.8rem;
}

.mbr-regular {
    font-weight: 400;
}

.mbr-semibold {
    font-weight: 500;
}

.mbr-bold {
    font-weight: 700;
}

[type="submit"] {
    -webkit-appearance: none;
}

/*! Full-screen */

.mbr-fullscreen .mbr-overlay {
    min-height: 100vh;
}

.mbr-fullscreen {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    align-items: center;
    -webkit-align-items: center;
    min-height: 100vh;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/*! Map */

.map {
    height: 25rem;
    position: relative;
}

.map iframe {
    width: 100%;
    height: 100%;
}

/* Form */

.form-asterisk {
    font-family: initial;
    position: absolute;
    top: -2px;
    font-weight: normal;
}

/*! Scroll to top arrow */

.mbr-arrow-up {
    bottom: 25px;
    right: 90px;
    position: fixed;
    text-align: right;
    z-index: 5000;
    color: #ffffff;
    font-size: 32px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
}

.mbr-arrow-up a {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    height: 60px;
    width: 60px;
    outline-style: none !important;
    position: relative;
    text-decoration: none;
    transition: all .3s ease-in-out;
    cursor: pointer;
    text-align: center;
}

.mbr-arrow-up a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

.mbr-arrow-up a i {
    line-height: 60px;
}

.mbr-arrow-up-icon {
    display: block;
    color: #fff;
}

.mbr-arrow-up-icon::before {
    content: "\203a";
    display: inline-block;
    font-family: serif;
    font-size: 32px;
    line-height: 1;
    font-style: normal;
    position: relative;
    top: 6px;
    left: -4px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

/*! Arrow Down */

.mbr-arrow {
    position: absolute;
    bottom: 45px;
    left: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: rgba(80, 80, 80, 0.5);
    border-radius: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.mbr-arrow>a {
    display: inline-block;
    text-decoration: none;
    outline-style: none;
    -webkit-animation: arrowdown 1.7s ease-in-out infinite;
    animation: arrowdown 1.7s ease-in-out infinite;
}

.mbr-arrow>a>i {
    position: absolute;
    top: -2px;
    left: 15px;
    font-size: 2rem;
}

@keyframes arrowdown {
    0% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
    }
    50% {
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
    }
}

@-webkit-keyframes arrowdown {
    0% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
    }
    50% {
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
    }
}

@media (max-width: 500px) {
    .mbr-arrow-up {
        left: 50%;
        right: auto;
        transform: translateX(-50%) rotate(180deg);
        -webkit-transform: translateX(-50%) rotate(180deg);
    }
}

/*Gradients animation*/

@keyframes gradient-animation {
    from {
        background-position: 0% 100%;
        animation-timing-function: ease-in-out;
    }
    to {
        background-position: 100% 0%;
        animation-timing-function: ease-in-out;
    }
}

@-webkit-keyframes gradient-animation {
    from {
        background-position: 0% 100%;
        animation-timing-function: ease-in-out;
    }
    to {
        background-position: 100% 0%;
        animation-timing-function: ease-in-out;
    }
}

.bg-gradient {
    background-size: 200% 200%;
    animation: gradient-animation 5s infinite alternate;
    -webkit-animation: gradient-animation 5s infinite alternate;
}

.menu .navbar-brand {
    display: -webkit-flex;
}

.menu .navbar-brand span {
    display: flex;
    display: -webkit-flex;
}

.menu .navbar-brand .navbar-caption-wrap {
    display: -webkit-flex;
}

.menu .navbar-brand .navbar-logo img {
    display: -webkit-flex;
}

@media (min-width: 768px) and (max-width: 991px) {
    .menu .navbar-toggleable-sm .navbar-nav {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
    }
}

@media (min-width: 992px) {
    .menu .navbar-nav.nav-dropdown {
        display: -webkit-flex;
    }
    .menu .navbar-toggleable-sm .navbar-collapse {
        display: -webkit-flex !important;
    }
}

/*# sourceMappingURL=style.css.map */

.engine {
    position: absolute;
    text-indent: -2400px;
    text-align: center;
    padding: 0;
    top: 0;
    left: -2400px;
}

.imagens {
    width: 170px;
    height: 170px;
    padding-top: 30px;
    padding-left: 60px;
}

.titulos {
    padding-left: 40px;
    color: #06a3da
}

.tituloscurtos {
    padding-left: 70px;
    color: #06a3da !important;
}

.botao {
    font-weight: bold;
    padding: 20px;
    float: center;
    border-top-width: 50px;
    border-right-width: 50px;
    border-bottom-width: 50px;
    border-left-width: 50px;
    border-bottom-style: unset;
    margin-left: 40px;
}

.botao {
    color: #fff !important;
    background-color: #f7861c;
    /*CSS 3*/
    border-radius: 10px 10px 10px 10px;
}

.carrossel {
    position: unset !important;
    bottom: 0px !important;
    padding-top: 3% !important;
}

.carrossel .active {
    background-color: #00427D !important;
}

.carrossel li {
    background-color: #06a3da !important;
}

.demo {
    background: white;
}

.our-team {
    text-align: center;
    position: relative;
    padding-top: 10px;
    height: 50vh;
}

.our-team .pic {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 8px solid #06a3da;
    margin: 0 auto;
    overflow: hidden;
}

.our-team img {
    width: 100%;
    height: auto;
}

.our-team .social {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 50px;
    left: 20px;
    transition: all 0.3s ease-out 0s;
}

.our-team .social li a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: #f28a31;
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
    transform: scale(0);
    transition: all 0.2s ease 0s;
}

.our-team:hover .social li a {
    transform: scale(1);
}

.our-team:hover .social li a:hover {
    background: #7a4b94;
}

.our-team .team-content {
    padding: 10px 10px 10px;
    background: #06a3da;
    border-radius: 40px 10px;
    margin-top: -20px;
    color: #fff;
}

.our-team .title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
}

.our-team .post {
    display: block;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
}

.our-team .description {
    padding: 16px;
    background: #fff;
    font-size: 16px;
    color: black;
    line-height: 30px;
    font-family: "Montserrat" !important;
    margin-bottom: 0;
}

@media only screen and (max-width: 990px) {
    .our-team {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 359px) {
    .our-team .pic {
        width: 150px;
        height: 150px;
    }
    .our-team .social {
        top: 20px;
    }
}

License Terms .texto-projeto {
    text-align: left;
    font-size: 20px;
}

h10 {
    font-size: 65px;
    color: white;
    font-weight: bold !important;
    text-align: center;
    padding-top: 25px !important;
}

h11 {
    font-size: 22px !important;
    color: white;
    font-family: "Montserrat" !important;
    text-align: center;
    font-weight: normal !important;
}

h12 {
    font-size: 65px;
    color: #fff;
    font-family: "Montserrat" !important;
    padding-left: 110px;
    font-weight: bold;
    text-align: center;
}

h13 {
    font-size: 20px;
    color: #fff;
    font-family: "Montserrat" !important;
    text-align: center;
}

h14 {
    font-size: 24px;
    color: #fff !important;
    font-family: "Montserrat" !important;
    text-align: center;
    font-weight: bold;
}

h15 {
    font-size: 15px;
    color: black;
    font-family: "Montserrat" !important;
    text-align: center !important;
    font-weight: bold !important;
}

h16 {
    font-size: 20px;
    color: white;
    font-family: "Montserrat" !important;
    text-align: center !important;
    font-weight: 500px !important;
}

h16 {
    font-size: 18px;
    color: black;
    font-family: "Montserrat" !important;
    text-align: center !important;
    font-weight: bold !important;
}

h17 {
    color: white;
    font-size: 20px;
    font-style: bold;
}

.consultants-title {
    font-size: 32px;
    color: orangered !important;
    font-family: "Montserrat" !important;
    text-align: center;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 40px !important;
}

.banner-background {
    background-color: #06a9db !important;
    margin-top: 20px !important;
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);
body {
    font-family: 'Montserrat';
    line-height: 1.5;
    color: #323232;
    font-size: 15px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

.heading-title {
    margin-bottom: 100px;
}

.text-center {
    text-align: center;
}

.heading-title h3 {
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: normal;
}

.p-top-30 {
    padding-top: 30px;
}

.half-txt {
    width: 60%;
    margin: 0 auto;
    display: inline-block;
    line-height: 25px;
    color: #7e7e7e;
}

.text-uppercase {
    text-transform: uppercase;
}

.team-member,
.team-member .team-img {
    position: relative;
}

.team-member {
    overflow: hidden;
}

.team-member,
.team-member .team-img {
    position: relative;
}

.team-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 10px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.team-member:hover .team-hover .desk {
    top: 35%;
}

.team-member:hover .team-hover,
.team-member:hover .team-hover .desk,
.team-member:hover .team-hover .s-link {
    opacity: 1;
}

.team-hover .desk {
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    padding: 0 20px;
}

.desk,
.desk h4,
.team-hover .s-link a {
    text-align: center;
    color: #222;
}

.team-member:hover .team-hover .s-link {
    bottom: 10%;
}

.team-member:hover .team-hover,
.team-member:hover .team-hover .desk,
.team-member:hover .team-hover .s-link {
    opacity: 1;
}

.team-hover .s-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    font-size: 35px;
}

.desk,
.desk h4,
.team-hover .s-link a {
    text-align: center;
    color: #222;
}

.team-member .s-link a {
    margin: 0 10px;
    color: #333;
    font-size: 16px;
}

.team-title {
    position: static;
    padding: 20px 0;
    display: inline-block;
    letter-spacing: 2px;
    width: 50%;
}

.team-title h5 {
    margin-bottom: 0px;
    display: block;
    text-transform: uppercase;
}

.team-title span {
    font-size: 12px;
    text-transform: uppercase;
    color: #a5a5a5;
    letter-spacing: 1px;
}

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,500,900);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
figure.snip1382 {
    font-family: 'Source Sans Pro', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    max-width: 315px;
    max-height: 220px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
}

figure.snip1382 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

figure.snip1382 img {
    max-width: 100%;
}

figure.snip1382:after,
figure.snip1382:before,
figure.snip1382 figcaption:after,
figure.snip1382 figcaption:before {
    background: #0a0a0a;
    height: 25%;
    position: absolute;
    content: '';
    opacity: 0;
    -webkit-transition: all 0.35s steps(4);
    transition: all 0.35s steps(4);
    z-index: 1;
    left: 50%;
    right: 50%;
}

figure.snip1382:before {
    top: 0;
    -webkit-transition-delay: 0;
    transition-delay: 0;
}

figure.snip1382:after {
    top: 25%;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

figure.snip1382 figcaption:before {
    top: 50%;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    z-index: -1;
}

figure.snip1382 figcaption:after {
    top: 75%;
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    z-index: -1;
}

figure.snip1382 figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 30px;
}

figure.snip1382 h2,
figure.snip1382 p,
figure.snip1382 .icons {
    margin: 0;
    width: 100%;
    opacity: 0;
}

figure.snip1382 h2 {
    font-weight: 900;
    text-transform: uppercase;
}

figure.snip1382 p {
    font-weight: 300;
}

figure.snip1382 .icons {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
}

figure.snip1382 i {
    padding: 0px 10px;
    display: inline-block;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    opacity: 0.8;
    text-decoration: none;
}

figure.snip1382 i:hover {
    opacity: 1;
}

figure.snip1382:hover:after,
figure.snip1382.hover:after,
figure.snip1382:hover:before,
figure.snip1382.hover:before,
figure.snip1382:hover figcaption:after,
figure.snip1382.hover figcaption:after,
figure.snip1382:hover figcaption:before,
figure.snip1382.hover figcaption:before {
    left: 0;
    right: 0;
    opacity: 0.8;
}

figure.snip1382:hover figcaption h2,
figure.snip1382.hover figcaption h2,
figure.snip1382:hover figcaption p,
figure.snip1382.hover figcaption p,
figure.snip1382:hover figcaption .icons,
figure.snip1382.hover figcaption .icons {
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
}

figure.snip1382:hover figcaption h2,
figure.snip1382.hover figcaption h2,
figure.snip1382:hover figcaption .icons,
figure.snip1382.hover figcaption .icons {
    opacity: 1;
}

figure.snip1382:hover figcaption p,
figure.snip1382.hover figcaption p {
    opacity: 0.7;
}

.tooltip-inner {
    max-width: 550px;
    background-color:#0a4e90;
    color: white;
    font-size: 16px;
    font-style: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    /* If max-width does not work, try using width instead */
    width: 550px; 
}


@import "compass/css3";

.logos-container {
  padding: 0;
  margin: 0 6.25% 0 6.25%;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: center;
  
  list-style: none;
}

.logo-item {
  padding: 5px;
  width: 200px;
  height: 120px;
  margin-top: 10px; 
  line-height: 150px;
  text-align: center;
}

.one {
  background-image: url("https://res.cloudinary.com/gus-armistead/image/upload/c_scale,w_200/v1462800694/placelogo_placeholder_jeuzcs.jpg");
}

.two {
  background-image: url("https://res.cloudinary.com/gus-armistead/image/upload/c_scale,h_120,w_200/v1462800636/logo-placeholder_svwvb7.jpg");
}

.three {
  background-image: url("https://res.cloudinary.com/gus-armistead/image/upload/c_scale,h_120,w_200/v1462800662/client-logo-placeholder_ny0sye.png");
}

.four {
  background-image: url("https://res.cloudinary.com/gus-armistead/image/upload/c_scale,h_120,w_200/v1462800627/logo-placeholder_zi3gbr.jpg");
}